<!doctype html>
<html lang="fa">

<head>
    <title>باربرز || @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <partial name="_Styles" />

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center position-relative">

                    <div class="col-3 ">
                        <div class="site-logo">
                            <a href="/">باربرز</a>
                        </div>
                    </div>

                    <div class="col-9  text-right">


                        <span class="d-inline-block d-lg-none">
                            <a href="#"
                               class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                                <span class="icon-menu h3 text-white"></span>
                            </a>
                        </span>


                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                <li class="active"><a href="/" class="nav-link">صفحه اصلی</a></li>
                                <li><a href="services.html" class="nav-link">خدمات</a></li>
                                <li><a href="/product/index" class="nav-link">فروشگاه بابرز</a></li>
                                <li><a href="about.html" class="nav-link">درباره ما</a></li>
                                <li><a href="blog.html" class="nav-link">بلاگ</a></li>
                                <li><a href="contact.html" class="nav-link">تماس با ما</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li style="color: white"><a class="nav-link" href="/UserPanel">خوش آمدید @User.Identity.Name</a></li>
                                    <li><a href="/Logout" >خروج</a></li>
                                  
                                }
                                else
                                {
                                    <li><a href="Register" class="nav-link">ثبت نام</a></li>
                                    <li><a href="Login" class="nav-link">ورود</a></li>
                                }
                                
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </header>

        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay " data-stellar-background-ratio="0.5" 
                 style="background-image: url('/images/hero_1.jpg'); background-position: 50% 50%;">
                 
                <div class="container">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-7">
                            <h1 class="mb-3">لورم ایپسوم متن ساختگی </h1>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                            </p>
                            <p><a href="#" class="btn btn-primary">ادامه مطلب</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @RenderBody()



        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid mb-5">
                        <h2 class="footer-heading mb-3">درباره ما</h2>
                        <p>
                            اگر شما یک طراح هستین و یا با طراحی های گرافیکی سروکار دارید به متن های برخورده اید که با نام
                            لورم ایپسوم شناخته می‌شوند.
                        </p>
                    </div>
                    <div class="col-lg-8 ml-auto">
                        <div class="row">
                            <div class="col-lg-6 ml-auto">
                                <h2 class="footer-heading mb-4">دسترسی سریع</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">درباره ما</a></li>
                                    <li><a href="#">تماس با ما</a></li>
                                    <li><a href="#">تیم ما</a></li>
                                    <li><a href="#">بلاگ</a></li>
                                    <li><a href="#">صفحه اصلی</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="@* footer-heading *@ mb-4">خبر نامه</h2>
                                <form action="#" class="d-flex" class="subscribe">
                                    <input type="text" class="form-control mr-3" placeholder="ایمیل">
                                    <input type="submit" value="عضویت" class="btn btn-primary">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </footer>

    </div>

    <partial name="_Scripts" />

    @RenderSection("scripts", required: false)
</body>

</html>

