
@{
    ViewData["Title"] = "فراموشی رمز غبور";
}

@model Barbers.Core.DTOs.ForgetPasswordViewModel

@{
    ViewData["Title"] = "ورود";
}


<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>بازنشانی رمز عبور</h2>

            </div>
        </div>
        <div class="row ">
            <div class="col-lg-8 mb-5">
                <form asp-action="ForgetPassword" method="post">

                    <div class="form-group row">
                        <div class="col-md-12 mb-4 mb-lg-0">
                            <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل">
                            <span asp-validation-for="Email"></span>

                        </div>

                    </div>



                    <div class="form-group row">
                        <div class="col-md-12">
                            <input asp-for="password" type="password" class="form-control" placeholder="رمز عبور">
                            <span asp-validation-for="password"></span>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور">
                            <span asp-validation-for="RePassword"></span>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-8 mr-auto">
                            <input type="submit" class="btn btn-primary text-white py-3 px-5" value="باز نشانی رمز عبور">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
